{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        
        </div>
            <div class="col-md-4"> 

                {% block content %}
                    <h1>Log-in</h1>
                    <div class="module">
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% else %}
                    <h3>Please, use the following form to log-in:</h3> 
                    {% endif %}
                    <div class="login-form">
                    <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {{form | crispy}}
                   
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" class="btn btn-primary btn-block" value="Log-in"></p>
                    </form>
                    </div>
                    </div>
                {% endblock %}


            </div>
                <div class="col-md-4"></div>
           
        
    </div>
</div>
